# World Values Survey Data Notebook - Child Traits

In [2]:
import numpy as np
import pandas as pd
import pyreadr
import matplotlib.pyplot as plt

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

## Acquiring Data
The data was acquired from the World Values Survey at https://www.worldvaluessurvey.org/wvs.jsp. Wave 1 through 6 were in .rds format while Wave 7 was in .rdata format.

In [4]:
# Use pyreadr to read .rds files to DataFrame
wv1_6 = [ pyreadr.read_r(f'../rdata/wv{i}.rds')[None] for i in range(1, 7) ]

In [5]:
# RData converted from .rdata file to CSV with RStudio
wv7 = pd.read_csv('../rdata/wv7.csv', index_col=0)

/Users/waynelam/Projects/world_values/wv-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (517,518,519) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Traits that should be encouraged in children (Wave 7, Q7-17)
- List of Traits (choose 5): good manners, independence, hard work, feeling of responsibility, imagination, tolerance and respect for other people, thrift/saving money, determination/perseverance, religious faith, not being selfish, obedience

In [6]:
df = wv7[['B_COUNTRY_ALPHA', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17']].copy()

In [7]:
traits_dict = {
    'B_COUNTRY_ALPHA': 'country',
    'Q7': 'manners',
    'Q8': 'independence',
    'Q9': 'hard work',
    'Q10': 'responsibility',
    'Q11': 'imagination',
    'Q12': 'tolerance',
    'Q13': 'thrift',
    'Q14': 'determination',
    'Q15': 'faith',
    'Q16': 'unselfishness',
    'Q17': 'obedience',
}

def convert_bin(x):
    if x == 1:
        return 1
    else:
        return 0

In [8]:
# Clean column names and convert to binary
df.columns = df.columns.map(traits_dict)
df.iloc[:, 1:] = df.iloc[:, 1:].applymap(convert_bin)

In [9]:
# Set data columns
X = df.drop(columns='country')

In [10]:
# Function to create cluster labels
def kmeans_model(n, X):
    model = KMeans(n_clusters=n)
    model.fit(X)
    labels = model.labels_
    return labels

In [11]:
# scores = []
# c_range = range(2, 50)

# for i in c_range:
#     labels = kmeans_model(i, X)
#     score = silhouette_score(X, labels)
#     scores.append(score)

In [12]:
# clusters = list(zip(c_range, scores))
# max(clusters, key=lambda x:x[1]) # n-clusters = 25

In [13]:
labels = kmeans_model(25, X)

In [14]:
df['cluster'] = labels

In [15]:
df.groupby('cluster').mean()

,manners,independence,hard work,responsibility,imagination,tolerance,thrift,determination,faith,unselfishness,obedience
cluster,,,,,,,,,,,
0,0.870328,0.363715,0.984186,0.901093,0.067280,0.000000,0.128810,0.108396,0.876941,0.253594,0.221967
1,0.849766,0.216782,0.484531,0.000000,0.114400,0.636546,0.212553,0.000000,1.000000,0.287113,0.977075
2,0.955602,0.887576,0.000000,0.931212,0.134146,0.983422,0.297256,0.310785,0.228659,0.000000,0.083460
3,0.144633,0.912241,0.151412,0.541243,0.794350,0.647458,0.327307,0.887759,0.177024,0.095292,0.087006
4,0.907760,0.133602,0.614934,0.681186,1.000000,0.407394,0.176794,0.674963,0.074671,0.074305,0.071742
5,0.849193,0.345242,0.806252,0.000000,0.196496,0.852284,0.965648,0.102027,0.340089,0.079011,0.162487
6,0.862455,1.000000,1.000000,0.710966,0.113247,0.927319,0.000000,0.066765,0.125502,0.001268,0.055567
7,0.857332,0.077675,0.232497,0.340291,0.056011,0.752708,0.112285,1.000000,0.696169,0.146103,0.660238
8,0.988395,0.882012,0.961315,0.982592,0.756286,0.983881,0.944552,0.883946,0.852998,0.940039,0.945841
9,0.955923,0.077824,0.759298,0.475207,0.152893,0.960744,0.194904,0.078512,0.108815,1.000000,0.102273
10,0.938040,0.075648,0.001081,0.761888,0.186960,0.775216,0.325288,0.003242,0.000000,0.554755,1.000000
11,0.925045,0.101049,0.003837,1.000000,0.097723,0.688667,0.264006,0.000256,1.000000,0.069071,0.720645
12,0.611984,0.178663,0.891487,0.667519,0.063939,0.000731,1.000000,0.656558,0.144319,0.195835,0.328096
13,1.000000,0.000000,0.937535,0.959286,0.000000,0.961517,0.006135,0.856665,0.010597,0.003346,0.003346
14,0.415275,0.111018,0.164441,0.206177,0.056761,0.125626,0.049666,0.032554,0.139399,0.041736,0.138564
15,0.856928,0.000000,1.000000,0.868934,0.078039,1.000000,0.009005,0.000000,1.000000,0.012506,0.102551
16,0.870552,1.000000,0.853017,0.883961,1.000000,0.001031,0.033522,0.001031,0.089737,0.080970,0.057246
17,0.787129,0.979098,0.771727,0.751375,0.000550,0.001650,0.000550,1.000000,0.263476,0.100660,0.163366
18,0.629659,0.147509,0.851314,1.000000,0.120832,1.000000,1.000000,0.000392,0.073754,0.050608,0.048647
19,0.539359,0.984173,0.105789,0.574761,0.163682,0.936693,0.108705,0.165348,0.124531,0.982507,0.153269
20,0.821088,0.984354,0.518707,0.720068,0.157483,0.000000,1.000000,0.113265,0.219388,0.173810,0.140476
21,0.848607,0.212977,1.000000,0.802419,0.091276,0.502199,0.000000,0.099340,0.000000,0.215909,1.000000
22,0.721754,0.121417,0.053963,0.803260,0.109050,0.745925,0.192243,0.059584,1.000000,1.000000,0.114671
23,0.762794,0.164500,0.131600,0.720146,0.209586,0.384240,0.195776,0.951665,0.091795,0.974005,0.211210
24,0.000000,0.326825,0.931660,0.680614,0.111111,0.966527,0.261274,0.953975,0.151557,0.158066,0.129707

In [316]:
df

,country,manners,independence,hard work,responsibility,imagination,tolerance,thrift,determination,faith,unselfishness,obedience,cluster
1,AND,1,1,0,1,1,0,0,0,0,0,1,21
2,AND,1,0,1,1,0,1,0,0,0,0,1,4
3,AND,0,1,0,1,1,1,0,1,0,0,0,0
4,AND,1,0,0,1,0,1,0,1,0,0,1,14
5,AND,1,0,1,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70863,ZWE,1,0,1,0,1,0,0,0,1,0,0,6
70864,ZWE,1,0,1,0,0,1,0,0,1,0,0,13
70865,ZWE,1,0,1,0,0,0,0,1,0,1,1,16
70866,ZWE,1,1,1,0,0,1,0,1,0,0,0,1
70867,ZWE,1,0,1,0,0,0,1,1,0,0,1,16

In [ ]:
# Function to group responses by country
def qbc(df, question, urbrural=True):
    if urbrural == True:
        q = df.groupby(['B_COUNTRY_ALPHA', 'H_URBRURAL'])[question].mean()
    else:
        q = df.groupby(['B_COUNTRY_ALPHA'])[question].mean()
    return pd.DataFrame(q).unstack()